body
{
  margin:0;
  padding:0;
  background:#f7db4f;
}
div
{
  width:100%;
  text-align:center;
  margin-top:20px;
  font-weight:1000px;
  font-size:53px;
  color:#fe4365;
}
input
{
  padding: 10px 5px 10px 5px;
  font-size: 20px;
  border:none;
  background-color:transparent;
  color:#a7226e;
  border-bottom: 1px solid  #A7226e;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  margin-bottom:30px;
  outline:none;
}
button
{
  display:block;
  margin-left:auto;
  margin-right:auto;
  borger-radius:5px;
  padding: 8px 25px;
  background-color:#83af9b;
  color:white;
  border:none;
  transition:350ms ease;
  box-shadow:none;
  text-align:center;
  margin-top:10x;
  margin-bottom:30px;
  user-select:none;
  outline:none;
}
button:active{
  tranform:scale(0,9);
}
svg
{
  display:block;
  margin-left:auto;
  margin-right:auto;
}