body
{
  background-color:#fad9c1;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcThlOoUz3zE5_ay30h2yV1aaXqo9c8rqAqbyw&usqp=CAU");
  background-repeat: no-repeat;
  background-position:right top;
  margin-right:200px;
  background-attachment:fixed;
}