<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">	
 	<title>CodePen - Login </title>
	<link rel="stylesheet" href="css/reset.css">  <!-- Where is the File Location, It's not in the repo?!?!?!? -->
  	<link rel="stylesheet" href="css/style.css" media="screen" type="text/css" /> <!-- Where is the File Location, It's not in the repo?!?!?!? -->
</head>

<body>

	<div class="wrap">
		<div class="avatar">
      		<img src="adnan.jpg"> <!-- Where is the File Location, It's not in the repo?!?!?!? -->
		</div>
	
		<input type="text" placeholder="username" required>
	
		<div class="bar">
			<i></i>
		</div>
		<input type="password" placeholder="password" required>
		<a href="" class="forgot_link">forgot ?</a>
		<button>Sign in</button>
	
	</div>

  <script src="js/index.js"></script>

</body>

</html>