<%- include('partials/header'); %>
<div class="box" id="heading">
  <h1>About</h1>
</div>
<div class="box">
  <div class="item">
    <p>
      Section 28 in the Udemy course, "<a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">The Complete 2020 Web Development Bootcamp</a>"
      by Angela Yu at the London App Brewery.
    </p>
  </div>
</div>
<%- include('partials/footer'); %>
