*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
}
body{
    background: #f1f1f1 ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.card{
    background: #3498db;
    padding: 0 20px;
    margin: 0 10px;
    border-radius: 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}
.card-icon{
    font-size: 30px;
    background: #2ecc71;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}
.card:hover .card-icon{
    background: none;
    color: #2ecc71;
    transform: scale(1.6);
}
.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}
.card:hover p{
    max-height: 40px;
    opacity: 1;
}
@media screen and (max-width:800px){
    .contact-info{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 350px;
        margin: 10px 0;
    }
}
