body {
  margin: 0;
}

h1,
h3 {
  text-align: center;
}

.paralax {
  height: 500px;
  background-image: url(https://images.pexels.com/photos/1680140/pexels-photo-1680140.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
